h2 {
  color:grey !important;
  font-size: 90% !important;
}
.gt_table, .gt_col_heading, .gt_group_heading, .gt_column_spanner {
  color: black !important;
  font-weight: bold !important; 
  font-size: large !important; 
}

.center-text {
  text-align: center;
}